@model PeopleViewModel
@{
    ViewData["Title"] = "Add Contact";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <br>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Add a new contact.</div>
            <div class="panel-body">
                
                <form asp-controller="Contact" asp-action="AddContact"  method="post">   
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NickName"></label>
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WebSite"></label>
                        <input asp-for="WebSite" class="form-control" />
                        <span asp-validation-for="WebSite" class="text-danger"></span>
                    </div>
                    
                    <div id="MultiplePhones">
                        <div class="form-group">
                            <label asp-for="Phones[0].Phone"></label>
                            <input asp-for="Phones[0].Phone" class="form-control" />
                            <span asp-validation-for="Phones[0].Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <button id="AddAnotherPhone" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-ok"></span> Add Another Phone 
                        </button>

                        <button id="RemoveLastPhone" type="button" class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-remove"></span> Remove Last Phone 
                        </button>

                    </div>
                    <button type="submit" class="btn btn-default">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
